.card {
  background-image: url("/public/restaurentBG.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 20%;
  height: 400px;
  box-shadow: 0px 1px 0px rgba(17, 17, 26, 0.1);
}

.user {
  padding: 10px;
  color: white;
  font-weight: bold;
  background: #0b1016b4;
  height: 400px;
}
.username {
  padding-top: 50px;
}
.username h1 {
  font-size: 25px;
  margin: 0;
}
.username h3 {
  font-size: 16px;
  margin: 0;
}
@media screen and (max-width: 769px) {
  .card {
    width: 80%;
    padding: 10%;
  }
}
