.home {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  background: #1b24308f;
}
.header {
  width: 100%;
  height: 700px;
  background-image: url("/public/golden-plate.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.actions {
  position: absolute;
  top: 40vh;
  text-align: center;
  left: 15%;
  width: 50%;
}

.actions h2 {
  font-size: 50px;
  color: white;
  margin-bottom: 0;
}

.actions h3 {
  font-size: 40px;
  margin-top: 0;
  color: #17cf97;
}

.whyUs {
  text-align: center;

  padding: 30px;
}

.whyUs h3 {
  font-size: 20px;
  color: white;
  padding-bottom: 0;
  margin: 0;
}
.whyUs h1 {
  font-size: 25px;
  color: #17cf97;
  padding-top: 0;
  margin-top: 0;
}
.whyUs ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  padding: 20px;
}

.whyUs li {
  list-style: none;
  background: rgb(32, 32, 32);
  padding: 10px;
  margin: auto;
}

.clients {
  text-align: center;
  color: white;
  background: rgb(22, 22, 22);
  padding: 20px;
}
.clients h4 {
  font-size: 20px;
  color: white;
  padding-bottom: 0;
  margin: 0;
}
.clients h2 {
  font-size: 25px;
  color: #17cf97;
  padding-top: 0;
  margin-top: 0;
}
.feedback {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  padding: 20px;
}

@media screen and (max-width: 840px) {
  .actions {
    position: absolute;
    top: 25vh;
    text-align: center;
    left: 15%;
    width: 70%;
  }
  .actions h2 {
    font-size: 25px;
  }

  .actions h3 {
    font-size: 20px;
  }
  .whyUs ul {
    flex-direction: row;
    text-align: left;
  }
  .whyUs li {
    margin: 15px;
  }

  .feedback {
    flex-direction: row;
  }
}

@media screen and (max-width: 769px) {
  .header {
    width: 100%;
    height: 500px;
  }

  .actions {
    position: absolute;
    top: 20vh;
    text-align: center;
    left: 15%;
    width: 70%;
  }
  .actions h2 {
    font-size: 25px;
  }

  .actions h3 {
    font-size: 20px;
  }
  .whyUs ul {
    flex-direction: column;
    text-align: left;
  }
  .whyUs li {
    margin: 15px;
  }

  .feedback {
    flex-direction: column;
  }
}
